/*  your css code here. If applicable */
  .container {
        border: 5px solid black;
        width: 400px;
        height: 150px;
        border-radius: 50px;
        background-color: #d3d3d3;
        display: inline-block;
      }
      .red {
        display: inline-block;
        background-color: #fe0000;
        border: 2px solid black;
        padding: 35px;
        margin-top: 20px;
        margin-left: 3px;
        border: none;
        border-radius: 50%;
      }
      .yellow {
        display: inline-block;
        background-color: #ffff00;
        border: 2px solid black;
        padding: 35px;
        margin-top: 20px;
        margin-left: 3px;
        border: none;
        border-radius: 50%;
      }
      .green {
        display: inline-block;
        background-color: #008000;
        border: 2px solid black;
        padding: 35px;
        margin-top: 40px;
        margin-left: 85px;
        border: none;
        border-radius: 50%;
      }